(
    palette: Light((
        name: "matugen-cosmic-light",
        bright_red: "#BA1A1AFF",
        bright_green: "#7F525DFF",
        bright_orange: "#635B70FF",
        gray_1: "#DED8E0FF",
        gray_2: "#FEF7FFFF",
        neutral_0: "#000000FF",
        neutral_1: "#DED8E0FF",
        neutral_2: "#FEF7FFFF",
        neutral_3: "#F8F1FAFF",
        neutral_4: "#F2ECF4FF",
        neutral_5: "#EDE6EEFF",
        neutral_6: "#E7E0E8FF",
        neutral_7: "#49454EFF",
        neutral_8: "#1D1B20FF",
        neutral_9: "#FEF7FFFF",
        neutral_10: "#FFFFFFFF",
        accent_blue: "#69548DFF",
        accent_indigo: "#69548DFF",
        accent_purple: "#7F525DFF",
        accent_pink: "#635B70FF",
        accent_red: "#BA1A1AFF",
        accent_orange: "#635B70FF",
        accent_yellow: "#7F525DFF",
        accent_green: "#7F525DFF",
        accent_warm_grey: "#49454EFF",
        ext_warm_grey: "#7A757FFF",
        ext_orange: "#635B70FF",
        ext_yellow: "#7F525DFF",
        ext_blue: "#69548DFF",
        ext_purple: "#7F525DFF",
        ext_pink: "#635B70FF",
        ext_indigo: "#69548DFF",
    )),
    spacing: (
        space_none: 4,
        space_xxxs: 8,
        space_xxs: 12,
        space_xs: 16,
        space_s: 24,
        space_m: 32,
        space_l: 48,
        space_xl: 64,
        space_xxl: 128,
        space_xxxl: 160,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some("#EDE6EEFF"),
    bg_color: Some("#FEF7FFFF"),
    primary_container_bg: Some("#EBDCFFFF"),
    secondary_container_bg: None,
    text_tint: Some("#1D1B20FF"),
    accent: Some("#69548DFF"),
    success: Some("#7F525DFF"),
    warning: Some("#635B70FF"),
    destructive: Some("#BA1A1AFF"),
    frosted: Low,
    gaps: (0, 10),
    active_hint: 5,
    window_hint: None,
    frosted_windows: false,
    frosted_system_interface: false,
    frosted_panel: false,
    frosted_applets: false,
    alpha_map: (
        extremely_low: 0.9,
        extremely_low_2: 0.87692,
        very_low: 0.85385,
        very_low_2: 0.83076,
        low: 0.80769,
        low_2: 0.78461,
        medium: 0.76154,
        medium_2: 0.73846,
        high: 0.71538,
        high_2: 0.69231,
        very_high: 0.66023,
        very_high_2: 0.64615,
        extremely_high: 0.62308,
        extremely_high_2: 0.6,
    ),
)