(
    palette: Dark((
        name: "matugen-cosmic-dark",
        bright_red: "#FFB4ABFF",
        bright_green: "#F1B7C4FF",
        bright_orange: "#CDC2DBFF",
        gray_1: "#151218FF",
        gray_2: "#151218FF",
        neutral_0: "#000000FF",
        neutral_1: "#151218FF",
        neutral_2: "#151218FF",
        neutral_3: "#1D1B20FF",
        neutral_4: "#211F24FF",
        neutral_5: "#2C292FFF",
        neutral_6: "#37343AFF",
        neutral_7: "#CBC4CFFF",
        neutral_8: "#E7E0E8FF",
        neutral_9: "#3B383EFF",
        neutral_10: "#FFFFFFFF",
        accent_blue: "#D4BBFCFF",
        accent_indigo: "#D4BBFCFF",
        accent_purple: "#F1B7C4FF",
        accent_pink: "#CDC2DBFF",
        accent_red: "#FFB4ABFF",
        accent_orange: "#CDC2DBFF",
        accent_yellow: "#F1B7C4FF",
        accent_green: "#F1B7C4FF",
        accent_warm_grey: "#CBC4CFFF",
        ext_warm_grey: "#948F99FF",
        ext_orange: "#CDC2DBFF",
        ext_yellow: "#F1B7C4FF",
        ext_blue: "#D4BBFCFF",
        ext_purple: "#F1B7C4FF",
        ext_pink: "#CDC2DBFF",
        ext_indigo: "#D4BBFCFF",
    )),
    spacing: (
        space_none: 4,
        space_xxxs: 8,
        space_xxs: 12,
        space_xs: 16,
        space_s: 24,
        space_m: 32,
        space_l: 48,
        space_xl: 64,
        space_xxl: 128,
        space_xxxl: 160,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some("#2C292FFF"),
    bg_color: Some("#151218FF"),
    primary_container_bg: Some("#503C74FF"),
    secondary_container_bg: None,
    text_tint: Some("#E7E0E8FF"),
    accent: Some("#D4BBFCFF"),
    success: Some("#F1B7C4FF"),
    warning: Some("#CDC2DBFF"),
    destructive: Some("#FFB4ABFF"),
    frosted: Low,
    gaps: (0, 10),
    active_hint: 5,
    window_hint: None,
    frosted_windows: false,
    frosted_system_interface: false,
    frosted_panel: false,
    frosted_applets: false,
    alpha_map: (
        extremely_low: 0.9,
        extremely_low_2: 0.87692,
        very_low: 0.85385,
        very_low_2: 0.83076,
        low: 0.80769,
        low_2: 0.78461,
        medium: 0.76154,
        medium_2: 0.73846,
        high: 0.71538,
        high_2: 0.69231,
        very_high: 0.66023,
        very_high_2: 0.64615,
        extremely_high: 0.62308,
        extremely_high_2: 0.6,
    ),
)